<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head') %>
</head>
<body>
	<%- include('partials/analyticstracking') %>
	<%- include('partials/menu') %>
	<%- include('partials/home') %>
	<%- include('partials/sluzby_galeria') %>
	<%- include('partials/referencie') %>
	<%- include('partials/cennik') %>
	<%- include('partials/kontakt') %>
	<%- include('partials/footer') %>
</body>
</html>
